.shipping-main {
    padding: 2%;
}

.shipping-title-div,
.shipping-info-div,
.shipping-note {
    margin-bottom: 2%;
}

.shipping-title,
.shipping-subtitle {
    margin-bottom: 10px;
}

.shipping-info-div ul {
    margin-left: 2%;
}

@media only screen and (max-width: 680px) {
    .shipping-info-div ul {
        margin-left: 5%;
    }
}