.contact-main {
    padding: 2%;
}

.contact-title-div,
.contact-info-div,
.contact-note {
    margin-bottom: 2%;
}

.contact-title {
    color: #4E944F;
    text-align: center;
}

.contact-title,
.contact-subtitle {
    margin-bottom: 10px;
}

.contact-text {
    color: grey;
}

.contact-branch {
    border: none;
    height: 250px;
    width: 96dvw;
}

.contact-info-div ul {
    margin-left: 2%;
}

.contact-info-div li {
    color: grey;
}

@media only screen and (max-width: 680px) {
    .contact-title {
        font-size: 1.2rem;
    }

    .contact-subtitle {
        font-size: 1rem;
    }

    .contact-date,
    .contact-text,
    .contact-note {
        font-size: 0.9rem;
    }
    
    .contact-info-div ul {
        margin-left: 5%;
    }

    .contact-info-div li {
        font-size: 0.9rem;
    }
}