.contact-main {
    padding: 2%;
}

.contact-title-div,
.contact-info-div,
.contact-note {
    margin-bottom: 2%;
}

.contact-title,
.contact-subtitle {
    margin-bottom: 10px;
}

.contact-info-div ul {
    margin-left: 2%;
}

@media only screen and (max-width: 680px) {
    .contact-info-div ul {
        margin-left: 5%;
    }
}