.user-title {
    color: #4E944F;
    text-align: center;
}

.user-body {
    height: 100dvh;
    width: 100dvw;
}

.order {
    border: 1px solid lightgrey;
    border-radius: 12px;
    padding: 1%;
    margin: 0 0.5% 1.5%;
}

.order-head {
    margin-bottom: 1%;
}

.order-head h3 {
    color: #4E944F;
    display: inline-block;
    width: 70dvw;
}

.order-head span {
    margin-right: 2%;
}

.order-body {
    display: flex;
}

.order-body h4 {
    border-bottom: 2px solid #4E944F;
}

.details-div {
    margin-right: 2%;
    width: calc(100dvw - 50dvw);
}

.details-div:last-child {
    margin-right: 0;
}

.basket-item {
    border-bottom: 2px solid lightgrey;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    padding: 1%;
}

.basket-item-price,
.basket-quantity {
    font-size: 0.8rem;
}

.user-details-div {
    margin-bottom: 2%;
}

.plants-details-div h5{
    font-weight: normal;
}

.user-details,
.payment-details {
    display: flex;
    flex-direction: column;
}

.type,
.status {
    font-size: 0.8rem;
}

.user-note {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70dvh;
}

.order-list {
    color: grey;
    font-size: 8rem;
    margin-bottom: 2%;
}

.order-list-text {
    color: #4E944F;
    text-align: center;
}

.user-phone-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
}

.user-phone-box {
    border: 1px solid #4E944F;
    border-radius: 5px;
    display: flex;
    padding: 1%;
    width: 50%;
}

.user-phone {
    border: none;
    font-size: 1rem;
    width: 100%;
}

.user-phone:focus {
    outline: none;
}

.get-orders-history {
    border: none;
    background-color: transparent;
    color: #4E944F;
    cursor: pointer;
    font-size: 1rem;
    padding: 1.2%;
}