body {
    font-family: sans-serif;
}

.popular-indoor-plants {
    display: flex;
    align-items: center;
    overflow: scroll;
    margin-bottom: 3%;
    padding: 1%;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.popular-indoor-plants::-webkit-scrollbar {
    display: none;
}

.popular-indoor-plants i {
    cursor: pointer;
    font-size: 2.6rem;
    line-height: 40.6px;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 24px;
    box-shadow: 2px 2px 9px black;
    color: #fff;
    transition: ease 0.2s;
}

.popular-indoor-plants i:hover {
    transform: scale(1.01);
}

.popular-indoor-plants i:first-child {
    position: absolute;
    left: 6px;
}

.popular-indoor-plants i:last-child {
    position: absolute;
    right: 6px;
}

.pip {
    border: 1px solid lightgrey;
    border-radius: 12px;
    box-shadow: 4px 4px 5px lightgrey;
    padding: 1%;
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pip-img {
    cursor: pointer;
    width: 200px;
}

.pip-name {
    font-size: 1.5rem;
    margin: 2%;
}

.pip-price {
    color: #4E944F;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2%;
}

.btn-atc {
    background-color: #4E944F;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 4%;
    width: 100%;
}

.swo {
    display: flex;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 3%;
    padding: 1%;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.swo::-webkit-scrollbar {
    display: none;
}

.swo i {
    cursor: pointer;
    font-size: 2.6rem;
    line-height: 40.6px;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 24px;
    box-shadow: 2px 2px 9px black;
    color: #fff;
    transition: ease 0.2s;
}

.swo i:hover {
    transform: scale(1.01);
}

.swo i:first-child {
    position: absolute;
    left: 6px;
}

.swo i:last-child {
    position: absolute;
    right: 6px;
}

.swo-blank {
    position: relative;
    height: 200px;
    width: 400px;
}

.swo-list-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid lightgrey;
    border-radius: 12px;
    box-shadow: 4px 4px 5px lightgrey;
    margin-left: 1.5%;
}

.swo-list-item-title {
    background-color: #fff;
    color: #4E944F;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}

.landscaping {
    background-image: url('https://res.cloudinary.com/safedb/image/upload/v1691481994/KK%20Nursery/Services%20We%20Offer/Landscape-Designing_lid6i6.jpg');
}

.gardening {
    background-image: url('https://res.cloudinary.com/safedb/image/upload/v1691481993/KK%20Nursery/Services%20We%20Offer/Gardening-Services_fuvpwj.jpg');
}

.planting {
    background-image: url('https://res.cloudinary.com/safedb/image/upload/v1691481993/KK%20Nursery/Services%20We%20Offer/Planting-Services_lrpco5.jpg');
}

.contract-farming {
    background-image: url('https://res.cloudinary.com/safedb/image/upload/v1691481993/KK%20Nursery/Services%20We%20Offer/Contract-Farming_tzbomr.jpg');
}

.horticulture {
    background-image: url('https://res.cloudinary.com/safedb/image/upload/v1691481993/KK%20Nursery/Services%20We%20Offer/Horticulture_ry7vup.jpg');
}

.branches {
    display: flex;
    align-items: center;
    padding: 1%;
    overflow: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.branches::-webkit-scrollbar {
    display: none;
}

.branches i {
    cursor: pointer;
    font-size: 2.6rem;
    line-height: 40.6px;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 24px;
    box-shadow: 2px 2px 9px black;
    color: #fff;
    transition: ease 0.2s;
}

.branches i:hover {
    transform: scale(1.01);
}

.branches i:first-child {
    position: absolute;
    left: 6px;
}

.branches i:last-child {
    position: absolute;
    right: 6px;
}

.branch {
    border: 1px solid lightgrey;
    border-radius: 12px;
    padding: 1%;
    margin-left: 1.5%;
}

.branch-title {
    color: #4E944F;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

.branch-location {
    border: none;
    height: 300px;
    width: 400px;
}

.circular-progress {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

@media only screen and (max-width: 1000px) {
    .swo i {
        display: none;
    }
    
    .popular-indoor-plants i {
        display: none;
    }

    .branches i {
        display: none;
    }
    
    .pip {
        padding: 2%;
        margin-left: 2%;
    }
}

@media only screen and (max-width: 680px) {
    .pip {
        padding: 4%;
        margin-left: 2.5%;
    }

    .pip-title, 
    .swo-title, 
    .our-branches-title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .swo-list-item {
        width: 95dvw;
    }

    .landscaping,
    .gardening,
    .planting,
    .contract-farming,
    .horticulture {
        margin-left: 2%;
    }

    .branch {
        padding: 2%;
    }
    
    .branch-location {
        height: 200px;
        width: 300px;
    }
}