#Carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 98vw;
}

.carousel-slider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.carousel-slide {
  border-radius: 12px;
  display: inline-block;
  height: 500px;
  width: 98vw;
}

.carousel-dots {
  text-align: center;
  position: relative;
  bottom: 40px;
}

.carousel-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #fff;
}

.carousel-dot-active {
  height: 12px;
  width: 12px;
  background-color: #4E944F;
}

@media only screen and (max-width: 680px) {
  .carousel-slide {
    height: 50vw;
  }

  .carousel-dot {
    height: 10px;
    width: 10px;
  }
}