.main {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 60vh;
    width: 100vw;
    z-index: 1;
}

.content {
    background-color: #fff;
    padding: 2%;
    position: relative;
    width: 50vw;
}

.btn-close {
    background-color: #fff;
    border: none;
    border-radius: 25px 25px 0 0;
    cursor: pointer;
    margin-right: 0;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: -18px;
    right: 0;
}

.contact-us-content {
    border: 5px solid #4E944F;
    border-radius: 12px;
    text-align: center;
    padding: 4%;
}

.contact-us-title,
.contact-us-subtitle {
    color: #4E944F;
    margin-bottom: 1%;
}

.contact-us-link-1 {
    margin-top: 4%;
}

.contact-us-link-div-2,
.contact-us-link-3 {
    margin-top: 1%;   
}

.contact-us-info {
    color: #4E944F;
}

@media only screen and (max-width: 680px) {
    body .content {
        width: 60vw;
        padding: 3%;
    }
}

@media only screen and (max-width: 480px) {
    body .content {
        width: 80vw;
        padding: 3.5%;
    }
}