.footer {
    box-shadow: 0 -5px 5px lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

.footer-contact-us {
    text-align: center;
    padding: 2%;
}

.footer-about-us-title {
    color: #4E944F;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'kalam', cursive;
    text-decoration: underline;
}

.footer-contact-us-title {
    margin-bottom: 4%;
}

.footer-follow-us a:first-child {
    margin-left: 20px;
}

.follow-us-icons {
    color: #4E944F;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 20px;
}

.privacy-terms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.privacy-policy,
.terms-conditions {
    color: grey !important;
    font-size: 1rem !important;
    margin-left: 10px;
}

.copyright {
    color: grey;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5%;
}

@media only screen and (max-width: 680px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer-about-us,
    .footer-contact-us,
    .footer-follow-us {
        margin-bottom: 4%;
    }
}