.footer {
    border-top: 5px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}

.footer-contact-us {
    text-align: center;
    padding: 2%;
}

.footer-about-us-title,
.footer-contact-us-title {
    color: #4E944F;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'kalam', cursive;
    text-decoration: underline;
}

a {
    color: #4E944F;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 10px;
}

.copyright {
    color: grey;
    font-size: 1rem;
    text-align: center;
}

@media only screen and (max-width: 680px) {
    .footer {
        flex-wrap: wrap;
    }
}