.swo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}

.swo-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid lightgrey;
    border-radius: 12px;
    box-shadow: 4px 4px 5px lightgrey;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 1.5%;
    width: calc(50% - 20px);
}

.swo-blank-item {
    position: relative;
    height: 250px;
    width: 100%;
}

.swo-item-title {
    background-color: #fff;
    color: #4E944F;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 680px) {
    .swo-blank-item {
        height: 200px;
    }

    .swo-item-title {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 480px) {
    .swo-item {
        box-sizing: content-box;
        margin-bottom: 5%;
        width: 95dvw;
    }
}