.swo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}

.swo-item {
    box-shadow: 2px 4px 12px lightgrey;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 1%;
    margin-bottom: 20px;
    width: calc(50% - 10px);
}

.swo-item-img {
    width: 100%;
}

.swo-item-title {
    text-align: center;
}

@media only screen and (max-width: 680px) {
    .swo-item-title {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .swo-item {
        box-sizing: content-box;
        width: calc(90% - 10px);
    }

    .swo-item-title {
        font-size: 1.5rem;
    }
}