.terms-main {
    padding: 2%;
    text-align: justify;
}

.terms-title-div,
.terms-info-div,
.terms-note {
    margin-bottom: 2%;
}

.terms-title {
    color: #4E944F;
    font-family: kalam;
    text-align: center;
}

.terms-subtitle {
    font-size: 0.9rem;
}

.terms-title,
.terms-subtitle {
    margin-bottom: 10px;
}

.terms-text {
    color: grey;
}

.terms-date,
.terms-text,
.terms-note {
    font-size: 0.8rem;
}