.privacy-main {
    padding: 2%;
    text-align: justify;
}

.privacy-title-div,
.privacy-info-div,
.privacy-note {
    margin-bottom: 10px;
}

.privacy-title {
    color: #4E944F;
    text-align: center;
}

.privacy-title,
.privacy-subtitle {
    margin-bottom: 10px;
}

.privacy-text {
    color: grey;
}

.privacy-date,
.privacy-text,
.privacy-note {
    font-family: kalam;
}

.privacy-info-div ul {
    margin-left: 2%;
}

.privacy-info-div li {
    color: grey;
    font-family: kalam;
}

@media only screen and (max-width: 680px) {
    .privacy-info-div ul {
        margin-left: 5%;
    }
}