@media only screen and (max-width: 1000px) {
    body .cart {
        height: 80vh;
        width: 50vw;
    }
}

@media only screen and (max-width: 680px) {
    body #Navbar {
        height: 80px;
    }

    #Navbar .title-box {
        height: 50%;
    }

    #Title{
        font-size: 1.5rem;
    }

    #Navbar .search-box {
        position: absolute;
        bottom: 8%;
        margin-right: 0;
        width: 95vw;
    }

    .btn-profile, .btn-cart {
        position: absolute;
        top: 12%;
    }

    .btn-profile {
        right: 12%;
    }

    .btn-cart {
        right: 2%;
    }

    .btn-cart .cart-count {
        height: 14px;
        width: 14px;
        position: absolute;
        top: -30%;
        right: -30%;
        font-size: 0.8rem;
        text-align: center;
    }

    body .hidden {
        height: 80px;
    }

    body .nav-link {
        font-size: 1rem;
    }

    body .cart {
        height: 80vh;
        width: 70vw;
    }
}

@media only screen and (max-width: 480px) {
    #Title{
        font-size: 1.2rem;
    }

    body .menu {
        display: block;
    }

    body .nav-links-menu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 40px;
        left: 0;
        padding: 20px;
        height: 100vh;
        width: 50vw;
        z-index: 1;
    }

    body .nav-links-open {
        display: none;
    }

    body .nav-links-div {
        border-right: none;
        display: block;
        margin-bottom: 12%;
        width: auto;
    }

    body .nav-link {
        font-size: 1.2rem;
    }
    
    body .cart {
        height: 99vh;
        width: 96vw;
        padding: 2%;
    }
}
