@import './Navbar2.css';

#Navbar {
    background-color: #fff;
    box-shadow: 0 5px 5px lightgrey;
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
}

#Title {
    color: #4E944F;
    margin: 1%;
}

.nav-title {
    width: 100%;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: 1%;
    width: 50%;
}

.search-box {
    border: 1px solid #4E944F;
    border-radius: 16px;
    display: flex;
    margin-right: 3%;
    padding: 0 1.5%;
    justify-content: space-between;
    width: 200px;
}

.search:focus + .search-box {
    border: 2px solid #4E944F;
}

.search {
    border: none;
    border-radius: 16px;
    font-size: 0.8rem;
    height: 25px;
    padding: 0.2%;
    padding-left: 1%;
    margin-right: 1%;
}

.search:focus {
    outline: none;
}

.btn {
    border: none;
    background-color: #0000;
    cursor: pointer;
    margin-right: 3%;
}

.menu {
    border: none;
    background-color: #0000;
    cursor: pointer;
    margin: 0 3%;
    display: none;
}

.nav-icons {
    color:#4E944F;
    font-size: 1.25rem;
}

.cart-count {
    background-color: #4E944F;
    border-radius: 50%;
    color: #fff;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    right: 2%;
    font-size: 0.9rem;
    text-align: center;
}

.hidden {
    height: 60px;
}

.nav-links {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

.nav-links-div {
    border-right: 2px solid lightgrey;
    display: flex;
    justify-content: center;
    width: 90vw;
}

.nav-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: #4E944F;
}

.profile-items {
    background-color: #fff;
    display: none;
    position: absolute;
}

.profile:hover + .profile-items, .profile-items:hover {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.about-us, .services-we-offer {
    padding: 5px ;
}

.cart {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1%;
    height: 100%;
    width: 30%;
    z-index: 1;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-title {
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.btn-cart-close {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.cart-icon {
    font-size: 1.2rem;
}

.cart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.remove {
    color: #4E944F;
}

.add, .minus {
    color: #4E944F;
    margin: 0 2%;
}

.checkout {
    background-color: #4E944F;
    color: #fff;
    font-size: 1.2rem;
    padding: 4%;
    width: 100%;
}

.cart-items {
    height: 80%;
    overflow-y: scroll;
}

.cart-items::-webkit-scrollbar {
    display: none;
}

.cart-item-content {
    margin-left: 2%;
    width: 100%;
}

.cart-item-box-1 {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.cart-item-box-2 {
    padding: 1%;
}

.cart-item {
    background-color: #E9EFC0;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    padding: 2%;
}

.cart-item-img {
    width: 60px;
}

.cart-item-title {
    font-size: 1.2rem;
}

.cart-item-price {
    color: #4E944F;
    font-size: 1.2rem;
}

.quantity {
    font-size: 1.2rem;
}