.cancellation-main {
    padding: 2%;
    text-align: justify;
}

.cancellation-title-div,
.cancellation-info-div,
.cancellation-note {
    margin-bottom: 2%;
}

.cancellation-title {
    color: #4E944F;
    text-align: center;
}

.cancellation-title,
.cancellation-subtitle {
    margin-bottom: 10px;
}

.cancellation-text {
    color: grey;
}

.cancellation-text,
.cancellation-note {
    font-family: kalam;
}

.cancellation-info-div li {
    color: grey;
    font-family: kalam;
}

.cancellation-info-div ul {
    margin-left: 2%;
}

.cancellation-info-div ol {
    margin-left: 2%;
}

@media only screen and (max-width: 680px) {
    .cancellation-info-div ul {
        margin-left: 5%;
    }

    .cancellation-info-div ol {
        margin-left: 5%;
    }
}